<h1>RadioButtonTab テスト</h1>

<%= rbtab("hoge[piyo]") do |x|
  x.page("FOO"){ "foofoofoofoofoofoofoofoofoofoo" }
  x.page("BAR"){ "barbarbarbarbarbarbarbarbarbar" }
  x.page("BAZ"){ "bazbazbazbazbazbazbazbazbazbaz" }
end %>

<div id="xxx">
  <ul class="page-tabs">
    <li tabindex="0" class="page-tab current">あああ</li>
    <li tabindex="0" class="page-tab">いいい</li>
    <li tabindex="0" class="page-tab">ううう</li>
  </ul>
  <div class="page-content">
    あああああああああああ

    <div id="yyy">
      <ul class="page-tabs">
        <li tabindex="0" class="page-tab">かかか</li>
        <li tabindex="0" class="page-tab current">ききき</li>
        <li tabindex="0" class="page-tab">くくく</li>
      </ul>
      <div class="page-content">かかかかかかか</div>
    </div>
  </div>
</div>
