<div class="radio_button_tab" id="hoge[piyo]">
  <style></style>
  <input type="radio" name="hoge[piyo]" id="hoge_piyo-foo-tab" checked="checked" />
  <input type="radio" name="hoge[piyo]" id="hoge_piyo-bar-tab" />
  <input type="radio" name="hoge[piyo]" id="hoge_piyo-baz-tab" />
  <menu>
    <label for="hoge_piyo-foo-tab">タブ1</label>
    <label for="hoge_piyo-bar-tab">タブ2</label>
    <label for="hoge_piyo-baz-tab">タブ3</label>
  </menu>
  <section id="hoge_piyo-foo-content">本文1</section>
  <section id="hoge_piyo-bar-content">本文2</section>
  <section id="hoge_piyo-baz-content">本文3</section>
</div>
