@import "plugins/tab.css.scss";

#hoge_piyo {
  .page-tab {
    padding: 0px 1ex;
  }
  .page-content {
    padding: 1ex;
  }
}

#xxx {
  @include tab(#ddffdd);

  & > .page-tabs > .page-tab {
    padding: 0px 1ex;
  }
  & > .page-content {
    padding: 1ex;
  }
}

#yyy {
  @include tab(#ddddff);
}
