// @param [Color] $background-color タブと本文の背景色
// @param [Color] $border-color タブと本文のボーダー色
@mixin tab($background-color: white, $border-color: gray) {

  /* タブ群を含む要素 */
  & > .page-tabs {
    display: flex;
    margin: 0px;
    padding: 0px;

    /* タブ要素 */
    & > .page-tab {
      position: relative;
      top: 1px;
      background-color: $background-color;
      border: 1px solid $border-color;
      border-radius: 0.5ex 0.5ex 0px 0px;
      text-align: center;
      list-style-type: none;
      cursor: pointer;

      &.current {
        border-bottom-color: transparent;
        font-weight: bold;
        cursor: inherit;
      }

      &:hover {
        font-weight: bold;
      }
    }
  }

  /* 本文要素 */
  & > .page-content {
    background-color: $background-color;
    border: 1px solid $border-color;
  }
}
